.earth {
  top: 0;
  bottom: 0;
  left: 700px;
  right: 0;
  margin: auto;
}

.spline-design {
  height: 1100px;
  width: 2000px;
  margin-left: 500px;
}

.info > div {
  width: 600px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: radial-gradient(ellipse at left, #161717 0%,#0e0909 100%);
  padding: 20px;
  font-size: 22px;
  line-height: 1.5;

}

.info > div p {
  margin: 0;
}  


.container{
display: flex;
width: 1425px;
justify-content: center;
align-items: center;
}

.tab {
overflow: auto;
background-color: #5b5757;
}


.tab button {
background-color: inherit;
float: middle;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
}


.tab button:hover {
  background-image: url('./textures/stars_pro.jpg');
  background-color: #656060;
}


.tabcontent {
color: white;
font-family: Arial, Helvetica, sans-serif;
display: none;
padding: 6px 12px;
border: none;
border-top: none;
}

body  {
background-color: #000000;

}

button {
background-color: #4b504e;
color: rgb(227, 223, 223);
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 22px;
border-radius: 12px;
}
#oceanToSeaButton,#seaToOceanButton {
background-color: #2c3e50;
color: white;
border: none;
border-radius: 12px;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 22px;
}
.tabcontent {
display: none;
}
.tablinks {
display: block;
margin-bottom: 10px;
color: white;
font-family: Arial, Helvetica, sans-serif;
}

.locations {
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 22px;
}