.earth {
    width: 750px;
    height: 750px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 800px;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
  }
  
  .earth:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
  }
  
  .earth > div {
    width: 200%;
    height: 100%;
    animation: spin 30s linear alternate infinite;
    background: url(../textures/earth.png);
   
    background-size: cover;
  }
  @keyframes spin {
  }

  .info > div {
    width: 550px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 0 0 15px #000 inset, 0 0 0 2px #000;
    background-color: rgb(34, 33, 33);
    color: white;
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.info > div p {
  margin: 0;
}
