.earth {
      width: 650px;
      height: 650px;
      position: fixed;
      top: 70px;
      bottom: 0;
      left: 700px;
      right: 0;
      margin: auto;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
    }
    
    .earth:after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: -20px -20px 50px 2px #000 inset;
      border-radius: 50%;
    }
    
    .earth > div {
      width: 400%;
      height: 100%;
      animation: spin 40s linear infinite;
      background: url(../textures/earth\ -\ 2.1.png);
      background-size: cover;
    }

    @keyframes spin {
      from {
        transform: translateX(-50%);
      }
    }
    
    .info > div {
      width: 600px;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background: radial-gradient(ellipse at left, #161717 0%,#0e0909 100%);
      /* background-color: rgb(36, 35, 35);
      color: white; */
      padding: 20px;
      font-size: 18px;
      line-height: 1.5;

  }
  
  .info > div p {
      margin: 0;
  }  
  

  .container{
    display: flex;
    width: 1425px;
    justify-content: center;
    align-items: center;
  }

  *{
    padding: 0;
    margin: 0;
    font-family: monospace;
  }

  ul {
    list-style: none;
    background-color: rgb(36, 35, 35);;
    width: 145px;
  }
  ul li {
    display: inline-block;
    position: relative;
  }
  ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
  }
  ul li ul.dropdown li{
    display: block;
  }
  ul li ul.dropdown {
    width: 100%;
    background-color: rgb(36, 35, 35);;
    position: absolute;
    z-index: 999;
    display: none;
  }
  ul li a:hover{
    background-color: rgb(62, 59, 59);;
  }
  ul li:hover ul.dropdown {
    display: block;
  }


  .tab {
    overflow: hidden;
    background-color: #5b5757;
  }
  

  .tab button {
    background-color: inherit;
    float: middle;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  
  .tab button:hover {
    background-color: #656060;
  }
  

  .tab button.active {
    background-color: #656060;
  }
  
  .tabcontent {
    color:azure;
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
  }